#
#Created by Koca
#Configuration (YAML format) file for automation in Hudson
#Date: 04/01/2012
#
RHEVMbugFile: "imagefactory/rhevm"
RHEVMconfigureFile: "/etc/aeolus-configure/nodes/rhevm_configure"
RHEVMBackupFile: "/etc/aeolus-configure/nodes/rhevm_configure.bck"
VSPHEREbugFile: "imagefactory/vsphere"
VSPHEREbug755029File: "imagefactory/vsphere_bug755029"
VSPHEREconfigureFile: "/etc/aeolus-configure/nodes/vsphere_configure"
VSPHEREBackupFile: "/etc/aeolus-configure/nodes/vshpere_configure.bck"
LogFileIF: "/var/log/imagefactory.log"
LogFileIWH: "/var/log/iwhd.log"
ozConfigFile: "/etc/oz/oz.cfg"
ozBackupFile: "/etc/oz/oz.cfg.bak"
ozBugFile: "oz/oz_screenshot.cfg"
ozScreenshotDir: "/var/lib/oz/screenshots"

#let's feed build_image.py test
#---
installtypes: 
- "url"
#- "iso"
targetimages:
- "ec2"
- "rhevm"
- "mock"
- "vsphere"
architectures:
- i386
- x86_64